<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--Custom CSS-->
    <link rel="stylesheet" href="styles.css">
    <!--Semantic-UI CSS-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <title>View Stocks</title>
  </head>
  <body>
     <!--Vertical Navbar-->
  <%- include('header') %>
  <!-- Page content holder -->
  <div class="page-content p-5" id="content" style="background: linear-gradient(to right, #e9edf1 47%, #ff8ab3 100%);">
    <!-- Toggle button -->
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">View Barcode Filter</li>
        </ol>
      </nav>
    <button id="sidebarCollapse" type="button" class="btn btn-light bg-white rounded-pill shadow-sm px-4 mb-4"><i class="align justify icon"></i><small class="text-uppercase font-weight-bold">Menu</small></button>
  
    <!-- Page content -->
    <h1>Select Stocks</h1>
    <br>
    <form action="barcode_query" method="POST">
      <div class="ui four column grid">
        <div class="row">
        <div class="column">
        <h3>View Stock By</h3>
        </div>
        <div class="column">
            <select class="form-select" aria-label="Disabled select example" id="brand" name="selected_brand" >
                <option selected>Select Brand</option>
                <% brands.forEach(function(order){ %>
                  <option value="<%= order.Brand %>"><%= order.Brand %></option>
                  <% }); %>
              </select>
        </div>
        <div class="column">
            <select class="form-select" aria-label="Disabled select example" id="category" name="selected_category" >
                <option selected>Select Category</option>
                <% categories.forEach(function(order){ %>
                  <option name="<%= order.Category %>" value="<%= order.Category %>"><%= order.Category %></option>
                <% }); %>
              </select>
        </div>
        </div>
        </div>
        <br>
        <center>
          <div class="ui left corner labeled action input">
            <button class="ui teal button" type="submit">Search &emsp;</button>
            <div class="ui corner label">
              <i class="search icon"></i>
            </div>
          </div>
        </center>
      </form>
    <% if(filter_type == 'Filter') { %>  
    <table class="ui inverted violet table table-bordered">
        <thead>
        <tr>
            <th>Item ID</th>
            <th>Item Name</th>
            <th>Category</th>
            <th>Brand Name</th>
            <th>Size</th>
            <th>Amount</th>
            <th>Date Entered</th>
            <th>Time Entered</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>

    <label>Sticker Width : </label><input style="width: 50px;" value=48 type="number" placeholder="cm" id="stickerWidth"
      name="stickerWidth">
    <label>Sticker Height : </label><input style="width: 50px;" value=12 type="number" placeholder="cm" id="stickerHeight"
      name="stickerHeight">
        <% all_stocks.forEach(function(order){ %>
            <tr style="background: linear-gradient(to left, #0066eb 0%, #ff8ab3 68%);">
                <td><%= order.ItemID %></td>
                <td><%= order.ItemName %></td>
                <td><%= order.Category %></td>
                <td><%= order.Brand %></td>
                <td><%= order.Size %></td>
                <td><%= order.Amount %></td>
                <td><%= order.StockDate %></td>
            </tr>
        <% }); %>
    </tbody>
    </table>
   
<form action="barcodegen" method="POST">
  <div class="ui four column grid">
    <div class="row">
      <input type="hidden" name="allStocks" id="allStocks" value="<%=JSON.stringify(all_stocks)%>">
    <div class="ui left corner labeled action input">
      <button class="ui teal button" type="submit">Generate Barcode &emsp;</button>
    </div>
</form>
<% } %>
</div>
<%- include('footer') %>
    
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <!-- Semnatic-UI Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>

    <script>
      $(function() {
    // Sidebar toggle behavior
    $('#sidebarCollapse').on('click', function() {
      $('#sidebar, #content').toggleClass('active');
    });
  });
  
    </script>

<script>
</script>
  </body>
</html>