<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--Custom CSS-->
  <link rel="stylesheet" href="styles.css">
  <!--Semantic-UI CSS-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/jsbarcode@3.11.0/dist/barcodes/JsBarcode.code39.min.js"></script>

  <title>View Stocks</title>
  <style>
        .barcode-sticker {
            width: <%= stickerWidth %>cm;
            height: <%= stickerHeight %>cm;
            border: 1px solid black;
            text-align: center;
            margin: 5px;
        }
  </style>
</head>

<body>
  <!--Vertical Navbar-->
  <%- include('header') %>

    <!-- Page content holder -->
    <div class="page-content p-5" id="content"
      style="background: linear-gradient(to right, #e9edf1 47%, #ff8ab3 100%);">
      <!-- Toggle button -->
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">View Stock</li>
        </ol>
      </nav>
      <button id="sidebarCollapse" type="button" class="btn btn-light bg-white rounded-pill shadow-sm px-4 mb-4"><i
          class="align justify icon"></i><small class="text-uppercase font-weight-bold">Menu</small></button>

      <!-- Page content -->
      <h1>Stocks Summary</h1>
      <br>
      <center><img class="ui medium rounded image headersvg" src="stock.svg"></center>
      <br>
      <div class="container">
        <% for (let row=0; row < stickerHeight; row++) { %>
          <div class="row">
            <% for (let col=0; col < stickerWidth; col++) { %>
              <div class="barcode-sticker">
                <div>
                  <%= headerText %> Barcode <%= row * stickerWidth + col + 1 %>
                      <%= footerText %>
                </div>
                <svg class="barcode"></svg>
              </div>
              <% } %>
          </div>
          <% } %>
      </div>
      <button id="printButton">Print Stickers</button>
      <script>
        // Generate barcodes using JsBarcode
        const stickers = document.querySelectorAll('.barcode-sticker');
        const width=21.00;
        const height = 29.7;
        stickers.forEach((sticker) => {
          const barcodeText = sticker.firstChild.textContent.trim();
          const barcodeElement = sticker.querySelector('.barcode');
          JsBarcode(barcodeElement, barcodeText, {
            format: 'CODE128', // Barcode format
            displayValue: false, // Whether to display the encoded text
            width: 2, // Bar width
            height: 60, // Bar height
            margin: 10 // Space between barcode and surrounding elements
          });
        });
        // Print button functionality
        const printButton = document.getElementById('printButton');
        printButton.addEventListener('click', () => {
          window.print();
        });
      </script>
    </div>
    <%- include('footer') %>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
      crossorigin="anonymous"></script>
    <!-- Semnatic-UI Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>

    <script>
      $(function () {
        // Sidebar toggle behavior
        $('#sidebarCollapse').on('click', function () {
          $('#sidebar, #content').toggleClass('active');
        });
      });

    </script>

</body>

</html>