<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--Custom CSS-->
    <link rel="stylesheet" href="styles.css">
    <!--Semantic-UI CSS-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <script src="easyInvoice.min.js"></script>
        <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
        <script src="https://smtpjs.com/v3/smtp.js">
          
        </script>
<style>
  .fulldiv{
   position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
   
  }
  .loader {
    z-index: 1;
    background-color: grey;
    display: flex;
    top: 50%;
    right: 50%;
    position: fixed;
    justify-content: center;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid blue;
    border-right: 16px solid green;
    border-bottom: 16px solid red;
    border-left: 16px solid pink;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }

  @-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
    }

    100% {
      -webkit-transform: rotate(360deg);
    }
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
</style>
    <title>Orders</title>
  </head>
  <body>
   
    <!--Vertical Navbar-->
    <%- include('header') %>
  <!-- <div class="vertical-nav bg-white" id="sidebar">
    <div class="py-4 px-3 mb-4" style="background: linear-gradient(to top, #0066eb 0%, #ff8ab3 68%);">
      <div class="media d-flex align-items-center"><img src="admin.svg" alt="..." width="65" class="mr-3 rounded-circle img-thumbnail shadow-sm">
        &emsp;<div class="media-body">
          <h4 class="m-0"><p class="text-white"><shop-name></h4>
            <p class="font-weight-light text-white mb-0">Hi, Phoner</p>
        </div>
      </div>
    </div>
    <form action="/logout?_method=DELETE" method="POST">
      <center><button type="submit" class="btn btn-danger" ><p class="text-white">Log Out</p></button></center>
    </form>
    <h5 class="ui horizontal divider header text-primary">
      MAIN
    </h5>
  
    <ul class="nav flex-column bg-white mb-0">
      <li class="nav-item">
        <a href="/" class="nav-link text-dark font-italic">
                  <i class="home icon"></i>
                  Dashboard
                </a>
      </li>
      <li class="nav-item">
        <a href="/billing" class="nav-link text-dark font-italic">
          <i class="rupee sign icon"></i>
                  Bill
              </a>
      </li>
      <li class="nav-item">
     <a href="/orders" class="nav-link text-dark font-italic" style="background: linear-gradient(to right, #0066eb 0%, #ff8ab3 68%);">
      <p class="text-white"> <i class="eye icon"></i>
                  View Orders
      </p>
              </a>
      </li>
      <li class="nav-item">
        <a href="/viewstocks" class="nav-link text-dark font-italic">
          <i class="tags icon"></i>
                  View Stocks
              </a>
      </li>
      <li class="nav-item">
        <a href="/stocks" class="nav-link text-dark font-italic">
          <i class="plus circle icon"></i>
                  Add Stock
              </a>
      </li>
    </ul>
  
    <h5 class="ui horizontal divider header text-primary">
      CUSTOMIZE
    </h5>
  
    <ul class="nav flex-column bg-white mb-0">
      <li class="nav-item">
        <a href="/brands" class="nav-link text-dark font-italic">
          <i class="yelp icon"></i>
                  Brand
              </a>
      </li>
      <li class="nav-item">
        <a href="/categories" class="nav-link text-dark font-italic">
          <i class="bookmark icon"></i>
                  Category
              </a>
      </li>
      <li class="nav-item">
        <a href="/sizes" class="nav-link text-dark font-italic">
          <i class="check square icon"></i>
                  Size
              </a>
      </li>
    </ul>

    <h5 class="ui horizontal divider header text-primary">
      FILTERS
    </h5>
  
    <ul class="nav flex-column bg-white mb-0">
      <li class="nav-item">
        <a href="/sales_filter" class="nav-link text-dark font-italic">
          <i class="yelp icon"></i>
                  Sales
              </a>
      </li>
      <li class="nav-item">
        <a href="/stock_filter" class="nav-link text-dark font-italic">
          <i class="bookmark icon"></i>
                  Stock
              </a>
      </li>
    </ul>
  </div> -->
  <!-- End vertical navbar -->
  
  <!-- Page content holder -->
  <div class="page-content p-5" id="content" style="background: linear-gradient(to right, #e9edf1 47%, #ff8ab3 100%);">
    <!-- Toggle button -->
    <button id="sidebarCollapse" type="button" class="btn btn-light bg-white rounded-pill shadow-sm px-4 mb-4"><i class="align justify icon"></i><small class="text-uppercase font-weight-bold">Menu</small></button>
    <div id="loader"></div>
  
    <!-- Page content -->
    
    <h1>Order Summary</h1>

    
    <center><img class="ui medium rounded image" src="flower.svg"></center>
    <br>
    <form action="orders_query" method="POST">
    <div class="ui four column grid">
      <div class="row">
      <div class="column">
      <h3>View Orders By</h3>
      </div>
      
      <!-- <div class="column">
      <div class="form-check form-check-inline form-switch">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios4" placeholder="Enter Phone Number"
          oninput="myFunction()">
        <label class="form-check-label" for="exampleRadios4">
          Mobile Number
        </label>
      </div>
        <div class="form-check form-check-inline form-switch">
           <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="month" oninput="myFunction()">
          <label class="form-check-label" for="exampleRadios2">
              Month
          </label>
      </div>
      <div class="form-check form-check-inline form-switch">
          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="year" oninput="myFunction()">
          <label class="form-check-label" for="exampleRadios3">
              Year
          </label>
      </div>
      </div> -->
            
      <!-- <div class="column">
          <select class="form-select" aria-label="Disabled select example" id="month" name="selected_month" disabled>
              <option selected>Select Month</option>
              <option value="1">January</option>
              <option value="2">February</option>
              <option value="3">March</option>
              <option value="4">April</option>
              <option value="5">May</option>
              <option value="6">June</option>
              <option value="7">July</option>
              <option value="8">August</option>
              <option value="9">September</option>
              <option value="10">October</option>
              <option value="11">November</option>
              <option value="12">December</option>
            </select>
      </div>
      <div class="column">
          <select class="form-select" aria-label="Disabled select example" id="year" name="selected_year" disabled>
              <option selected>Select Year</option>
              <option value="2023">2022</option>
              <option value="2023">2023</option>
              <option value="2024">2024</option>
              <option value="2025">2025</option>
              <option value="2025">2026</option>
              <option value="2025">2027</option>
              <option value="2025">2028</option>
            </select>
      </div> -->
      
      </div>
      </div>
      <br>
      <center>
        <div class="ui left corner labeled action input">
          <div class="column">
            <input class="form-input" type="input" name="phone" id="phone" placeholder="Enter Phone Number">
          </div>
          <button class="ui teal button" type="submit">Search &emsp;</button>
          <div class="ui corner label">
            <i class="search icon"></i>
          </div>
        </div>
      </center>
    </form>
    
      <% if(selected_item == 'None') { %> 
      <% orders.sort(

function(a, b){return new Date(b.TransactionDate.split('/')[2],b.TransactionDate.split('/')[1],b.TransactionDate.split('/')[0]) -  new Date(a.TransactionDate.split('/')[2],a.TransactionDate.split('/')[1],a.TransactionDate.split('/')[0])}

      ).forEach(function(order){ %>
        <br>
      <div class="ui styled fluid accordion">
      <div class="title text-primary">
       
        <table>
       
          <tr class="text-primary">
            <td><i class="dropdown icon">
            </i></td>
        <td>Date:<i>
            <%= order.TransactionDate %>
          </i> | </td> 
        <td>Time:<i>
            <%= order.TransactionTime %>
          </i> | </td>
            <td>Order ID:<i>
                <%= order._id %>
              </i> | </td>
              <td>Phone:<i>
              <td>
                <%= order.CustomerPhone %>
               | </td>
            <td style="right: 0;" >Total Amount:<i>
                <%= order.Amount %>
              </i>  </td>
             
              </i>

              </td>
          </tr>   

        </table>
        
      
      </div>
      <div class="content">
        <div class="col-lg">
          
          <p>Download <button class="ui green submit button" type="button" onclick="downloadInvoice(this.innerHTML)">
            <%=order._id%> 
          </p>
          </button>
                  <div class="form-check form-check-inline form-switch">
                    <input class="form-check-input" type="radio" name=<%=order._id%> id=<%=order._id%> value="sendMail">
                    <label class="form-check-label" for="sendMail">
                      Send Mail
                    </label>
                  </div>
        </div>
        <table class="ui inverted violet table table-bordered" >
          <thead>
            <tr class="table-success">
                
                <th>Item ID</th>
                <th>Item Name</th>
                <th>Category</th>
                <th>Brand Name</th>
                <th>Size</th>
                <th>Amount</th>
                <th>Customer Number</th>
                <!-- <th>Customer Email</th>
                <th>Customer Number</th> -->
                <th>Action</th>
            </tr>
        </thead>
          <tbody>
        <% sub_orders.forEach(function(sub_order){ %>
       
        <% if(sub_order.TransactionID == order._id) { %> 
           
            <tr style="background: linear-gradient(to left, #0066eb 0%, #ff8ab3 68%);">
            <td><%= sub_order.ItemID %></td>
            <td><%= sub_order.ItemName %></td>
            <td><%= sub_order.Category %></td>
            <td><%= sub_order.Brand %></td>
            <td><%= sub_order.Size %></td>
            <td><i class="rupee sign icon"></i><%= sub_order.Amount %></td>
            <!-- <td><%= sub_order.CustomerName %></td>
            <td>
              <%= sub_order.CustomerEmail %>
            </td> -->
            <td>
              <%= sub_order.CustomerPhone %>
            </td>
            <td>
              <form action="/deleteitem" method="POST"><input type="hidden" name="deleteid"
                    value="<%= sub_order._id %>"><button type="submit" class="btn btn-danger btn-sm">Delete</button>
                </form>
            </td>
            </tr>
          <% } %>
        
      
      <% }) %> 
    </tbody>
  </table> 
    </div>
  </div>
    <% }) %> 

  <% } %>
    
  <!-- <% if(selected_item == 'month') { %> 
    <h2 class="text-primary">Showing Orders for <%= month_name %>, <%= year %>  </h2>
    <% orders.forEach(function(order){ %>
      <br>
    <div class="ui styled fluid accordion">
    <div class="title text-primary">
      <i class="dropdown icon"></i>
      <div class="container">
        <div class="row-lg">
          <div class="col-lg">
            <p class="text-primary">Order ID: <i><%= order.TransactionID %></i> </p>
          </div>
          <div class="col-lg">
            <p class="text-danger"> Total Amount: <i><i class="rupee sign icon"></i><%= order.Amount %></i></p>
          </div>
        </div>
        <div class="row-lg">
          <div class="col-lg">
            <p class="text-success">Date: <i><%= order.TransactionDate %></i></p>
          </div>
          <div class="col-lg">
            <p class="text-dark">Time: <i><%= order.TransactionTime %></i></p>
          </div>
        </div>
      </div>
    </div>
    <div class="content">
      <table class="ui inverted violet table table-bordered" >
        <thead>
          <tr class="table-success">
              
              <th>Item ID</th>
              <th>Item Name</th>
              <th>Category</th>
              <th>Brand Name</th>
              <th>Size</th>
              <th>Amount</th>
            <!-- <th>Customer Name</th>
            <th>Customer Email</th> -->
            <th>Customer Number</th>
          </tr>
      </thead>
        <tbody>
      <% sub_orders.forEach(function(sub_order){ %>
       
      <% if(sub_order.TransactionID == order.TransactionID) { %> 
         
          <tr style="background: linear-gradient(to left, #0066eb 0%, #ff8ab3 68%);">
          <td><%= sub_order.ItemID %></td>
          <td><%= sub_order.ItemName %></td>
          <td><%= sub_order.Category %></td>
          <td><%= sub_order.Brand %></td>
          <td><%= sub_order.Size %></td>
          <td><i class="rupee sign icon"></i><%= sub_order.Amount %></td>
          <!-- <td><%= sub_order.CustomerName %></td>
          <td>
            <%= sub_order.CustomerEmail %>
          </td> -->
          <td>
            <%= sub_order.CustomerPhone %>
          </td>
          </tr>
        <% } %>
      
    
    <% }) %> 
  </tbody>
</table> 
  </div>
</div>
  <% }) %> 

<% } %>

<% if(selected_item == 'year') { %> 
  <h2 class="text-primary">Showing Orders for <%= year %>  </h2>
  <% orders.forEach(function(order){ %>
    <br>
  <div class="ui styled fluid accordion">
  <div class="title text-primary">
    <i class="dropdown icon"></i>
    <div class="container">
      <div class="row-lg">
        <div class="col-lg">
          <p class="text-primary">Order ID: <i><%= order.TransactionID %></i> </p>
        </div>
        <div class="col-lg">
          <p class="text-danger"> Total Amount: <i><i class="rupee sign icon"></i><%= order.Amount %></i></p>
        </div>
      </div>
      <div class="row-lg">
        <div class="col-lg">
          <p class="text-success">Date: <i><%= order.TransactionDate %></i></p>
        </div>
        <div class="col-lg">
          <p class="text-dark">Times: <i><%= order.TransactionTime %></i></p>
        </div>
      </div>
    </div>
  </div>
  <div class="content">
    <table class="ui inverted violet table table-bordered" >
      <thead>
        <tr class="table-success">
            
            <th>Item ID</th>
            <th>Item Name</th>
            <th>Category</th>
            <th>Brand Name</th>
            <th>Size</th>
            <th>Amount</th>
            <!-- <th>Customer Name</th>
            <th>Customer Email</th> -->
            <th>Customer Number</th>
            <th>Download</th>
            <th>Action</th>
        </tr>
    </thead>
      <tbody>
    <% sub_orders.forEach(function(sub_order){ %>
      
    <% if(sub_order.TransactionID == order.TransactionID) { %> 
       
        <tr style="background: linear-gradient(to left, #0066eb 0%, #ff8ab3 68%);">
        <td><%= sub_order.ItemID %></td>
        <td><%= sub_order.ItemName %></td>
        <td><%= sub_order.Category %></td>
        <td><%= sub_order.Brand %></td>
        <td><%= sub_order.Size %></td>
        <td><i class="rupee sign icon"></i><%= sub_order.Amount %></td>
        <td><%= sub_order.CustomerName %></td>
        <td>
          <%= sub_order.CustomerEmail %>
        </td>
        <td>
          <%= sub_order.CustomerPhone %>
        </td>
        <td>
          <form action="/deleteitem" method="POST"><input type="hidden" name="deleteid"
                value="<%= JSON.stringify(sub_order) %>"><button type="submit" class="btn btn-danger btn-sm">Delete</button></form>
        </td>
        </tr>
      <% } %>
    
  
  <% }) %> 
</tbody>
</table> 
</div>
</div>
<% }) %>  -->

<% } %>
    
    </tbody>
    </table> 
    </div>
    

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <!-- Semnatic-UI Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>
    <script>
      $(function() {
    // Sidebar toggle behavior
    $('#sidebarCollapse').on('click', function() {
      $('#sidebar, #content').toggleClass('active');
    });
  });
  
    </script>

<script language='javascript'>
  $(document).ready(function(){
     $('.ui.accordion').accordion();
  });
 </script>

<script>
  //   

  function myFunction(){
    if (document.getElementById('exampleRadios2').checked == true){
      document.getElementById("month").disabled = false;
      document.getElementById("year").disabled = false;
       document.getElementById("phone").disabled = true;
    }
     if (document.getElementById('exampleRadios4').checked == true) {
      document.getElementById("month").disabled = true;
      document.getElementById("year").disabled = true;
       document.getElementById("phone").disabled = false;
    }
    if (document.getElementById('exampleRadios3').checked == true){
      document.getElementById("year").disabled = false;
      document.getElementById("month").disabled = true;
       document.getElementById("phone").disabled = true;

    }
  }
      function downloadInvoice(tID) {
          var data = getSampleData(tID.trim().split(' ')[0]);

        }
            function getSampleData(tID) {
               var target = document.getElementById('loader');
              
                target.classList.add('loader');
                target.classList.add('fulldiv');
                
                
              
var totalAmount=0.0;
var email="";
              $.ajax({
                type: "POST",
                url: "/fetchorderitem",
                data: {
                  "itemid": tID
                },
                success: function (data) {
                  // 
                  if (data.status == 200 && data.rows.length > 0) {
                    ////////////////////
                    var date_format = new Date();
                    var transaction_time = date_format.getHours() + ':' + date_format.getMinutes() + ':' + date_format.getSeconds();
                    var transaction_date = date_format.getDate() + '/' + (parseInt(date_format.getMonth() + 1)).toString() + '/' + date_format.getFullYear();

                    const transaction_id = "TCH" + date_format.getDate() + date_format.getMonth() + date_format.getFullYear() + date_format.getHours() + date_format.getMinutes() + date_format.getSeconds();
                    
                    var items_arr = []
                    for (var i = 0; i < data.rows.length; i++) {
                        var disc= data.rows[i].Discount == null ? 0.0 : data.rows[i].Discount;
                        if(isNaN(disc)){
                          disc=0.0;
                        }
                        let item_obj = {
                          "noitem":(i+1),
                          "quantity": data.rows[i].Size,
                          "description": data.rows[i].ItemName +  '('+ data.rows[i].Category +')'+'-'+ data.rows[i].Brand,
                          "tax-rate": 0,
                          "price": parseFloat(data.rows[i].Amount).toFixed(2),
                          "distotal": parseFloat(disc).toFixed(2),
                          "GST": data.rows[i].GST,
                          "price": parseFloat(data.rows[i].Price).toFixed(2),
                          "email": data.rows[i].CustomerEmail
                        }
                        email= data.rows[0].CustomerEmail;
                        totalAmount= parseFloat(totalAmount + data.rows[i].Amount).toFixed(2);
                        items_arr.push(item_obj)
                      
                    }
                    
                    var html = `<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8"><meta name="viewport"content="width=device-width, initial-scale=1.0"><title>RETAIL INVOICE</title><style>body{font-family:Arial,sans-serif;font-size:13px;}table{width:100%;border-collapse:collapse;}th,td{border:1px solid#000;padding:8px;}th{text-align:center;background-color:#e7e7e7;}h1{margin:0;padding:0;}.header h1{text-decoration:underline;}.header{float:left;}.logo{width:100px;}.address{font-size:14px;margin-top:4px;}.invoice-details{text-align:right;}.invoice-details table{border:none;}h2{text-align:center;}.invoice-details{float:right;text-align:right;margin-right:0px;margin-bottom:5px;}.invoice-details table{border:none;}.invoice-summary-footer{display:inline-block;width:100%;}.invoice-details th{text-align:left;}.invoice-summary{float:right;text-align:right;}.invoice-summary table td{border:none;text-align:right;}.footer{float:left;text-align:left;}.payment-details{margin-left:20px;}.main_wrapper{width:900px;margin:0px auto;}tfoot tr td:first-child{background-color:#fff}tfoot tr td{background-color:#e7e7e7;}.info-table{width:100%;margin-bottom:5px;}.info-table th{text-align:left;background-color:transparent;font-weight:normal;}.info-table td{padding:4px 8px;}.customer-info{width:100%;margin-bottom:5px;border:1px solid;}.customer-info th,.customer-info td{padding:4px;}.customer-info th{text-align:left;width:25%;background-color:transparent;border:none;font-weight:normal;}.customer-info td{width:25%;border:none;}</style></head><body><div class="main_wrapper"><div class="header"><!--<img src="%logo%"alt="Vishwesh Logo"class="logo"><br>--><h1><strong>THE CYCLE HUB</strong></h1><span><strong>THE PHONER MOBILE ACCESSORIES HUB</strong></span><br><div class="address"><strong>Address:</strong>Shop No:G-96,97,B.T.Mall,Navjivan Mall Compound,Kalol-382721<br>DIST-GANDHINAGAR,<strong>Contact No:</strong>9574867001</div></div><div class="invoice-details"><table><tr><th>Invoice No:</th><td>%number%</td></tr><tr><th><strong>Invoice Date:</strong></th><td>%date%</td></tr><tr><th><strong>State code:</strong></th><td>01</td></tr><tr><th><strong>GSTN No:</strong></th><td>24AIGPG8025R1ZW</td></tr></table></div><h3>RETAIL INVOICE</h3><table class="customer-info"><tr><th>Name:</th><td>%company-to%</td><th>Mobile No:</th><td>%zip-to%</td></tr><tr><th>Address:</th><td>%address-to%,%city-to%</td><th>GSTN:</th><td></td></tr><tr><th>Email</th><td>{{email}}</td><td>ID Proof:</td><td>ID Proof No:</td><td></td></tr></table><table id="products-table"><thead><tr><th>No.</th><th style="width:50%">Particular</th><th>HSN</th><th>Qty</th><th>Sale Rate</th><th>Disc</th><th>Amount</th></tr></thead><tbody>{{#each products}}<tr><td>{{noitem}}</td><td>{{description}}</td><td>{{hsn}}</td><td align="center">{{quantity}}</td><td>{{price}}</td><td>{{distotal}}</td><td>{{price}}</td></tr>{{/each}}</tbody><tfoot><tr><td colspan="2"class="total"></td><td></td><td></td><td></td><td></td><td>{{totalAmount}}</td></tr></tfoot></table><div class="invoice-summary-footer"><div class="invoice-summary"><table><tr><td>Discount:</td><td>0.00</td></tr><tr><td>GST:</td><td>%</td></tr><tr><td>Final Amount:</td><td>{{totalAmount}}</td></tr></table></div><div class="footer"><p>Payment Mode:<strong>Cash</strong>/<strong>Loan</strong></p><p>Bill By: Keyur Gajjar</p><p>Goods once sold will not be taken back.Warranty will be converted</p></div></div></div></body></html>`;
                    var htmlpayload={products: items_arr, totalAmount,email };
                     var template = Handlebars.compile(html); 
                    parsedHtml = template(htmlpayload);
                    if(document.getElementById(tID).checked == true){
                    console.log(parsedHtml);
                    }
                    
                    const invoiceDataNew = {
                      customize: {
                        // btoa === base64 encode
                        template: btoa(parsedHtml) // Your template must be base64 encoded
                      },
                         "images": {
                        // The logo on top of your invoice
                        "logo": "https://i.imgur.com/b1IoAnu.png",
                        // The invoice background
                        "background": "https://i.imgur.com/zjTdQjv.png"
                      },
                      // Your own data
                      "sender": {
                        "company": "RETAIL INVOICE",
                        "address": "THE MOBILE ACCESSORIES HUB",
                        "zip": "Shope No. G-96, B.T MALL, NAVJIVAN MILL COMPOUND",
                        "city": "KALOL 382721",
                        "country": "Gandhinagar,9574867001",
                        "custom1": "GST #: 24AIGPG8025R1ZW",
                        //"custom2": "custom value 2",
                        //"custom3": "custom value 3"
                      },
                      // Your recipient
                      "client": {
                        "company": data.rows[0].CustomerName,
                        "address":  data.rows[0].CustomerAddress,
                        "zip":  data.rows[0].CustomerPhone,
                        "city": "",
                        "country": ""
                        // "custom1": "custom value 1",
                        // "custom2": "custom value 2",
                        // "custom3": "custom value 3"
                      },
                      "information": {
                        "number": transaction_id,
                        "date": data.rows[0].BillDate,
                        "due-date": data.rows[0].BillDate,
                      },
                     // "products": items_arr,
                      "settings": {
                        "margin-top": 5,
                        "margin-right": 5,
                        "margin-left": 5,
                        "margin-bottom": 5, 
                        "locale":"en-IN",
                        "currency": "INR",
                        "height": "1000px",
                        "width": "1000px",
                        "orientation": "landscape"
                      },
                    };  
                    
                    easyinvoice.createInvoice(invoiceDataNew, function (result) {
                      var date_format = new Date();
                      easyinvoice.download(`${transaction_id}.pdf`, result.pdf);
                      //	you can download like this as well:
                      //	easyinvoice.download();
                      //	easyinvoice.download('myInvoice.pdf');
                      if (target.classList.contains('loader')) {
                                target.classList.remove('loader');
                        target.classList.remove('fulldiv');
                      }
                    });
                   /////////////////////

                  } else if (data.status == "failed") {
                    alert("Item not found")
                  }
                }
              });
            }

</script>
    
  </body>
</html>
